# Backend Server Configuration
PORT=5001

# Neon PostgreSQL Database URL
DATABASE_URL=postgresql://neondb_owner:your_neon_password@ep-example.neon.tech/neondb?sslmode=require

# Resend API Key & Sender Email
RESEND_API_KEY=re_123456789_abcdef
SENDER_EMAIL=onboarding@resend.dev
